<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <Feature Id="Driver64Feature" Title="!(loc.Driver64Name)" Level="0">
      <Condition Level="1">VersionNT64</Condition>
      <ComponentRef Id="Driver64FileComponent" />
      <ComponentGroupRef Id="Driver64RegistryKeyComponents"/>
      
      <Feature Id="Driver32Feature1" Title="!(loc.Driver32Name)" Level="2">      
        <ComponentRef Id="Driver32FileComponent" />
        <ComponentGroupRef Id="Driver32RegistryKeyComponents"/>
      </Feature>
    </Feature>
  </Fragment>
  
  <Fragment>
    <Feature Id="Driver32Feature" Title="!(loc.Driver32Name)" Level="0">
      <Condition Level="1"><![CDATA[NOT(VersionNT64)]]></Condition>
      <ComponentRef Id="Driver32FileComponent" />
      <ComponentGroupRef Id="Driver32RegistryKeyComponents"/>
    </Feature>
	</Fragment>
</Wix>
