<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="TARGETDIR">
      <Directory Id="System64Folder">
        <Component Id="Driver64Component" Guid="1C060AEE-4975-4427-80DA-256281BD3F0E" Permanent="no" SharedDllRefCount="no" Transitive="no" Win64="yes">
          <File Id="Driver64File" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Driver_x64.dll" Source="InstallFiles\Driver_x64.dll" KeyPath="yes" />
        </Component>
      </Directory>
    </DirectoryRef>
  </Fragment>
  
  <Fragment>
    <DirectoryRef Id="TARGETDIR">
      <Directory Id="SystemFolder">
        <Component Id="Driver32Component" Guid="7EDBD8B2-7ECC-4A37-BA3A-98B19E230FA3" Permanent="no" SharedDllRefCount="no" Transitive="no" Win64="no">
          <File Id="Driver32File" DiskId="1" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Name="Driver_x86.dll" Source="InstallFiles\Driver_x86.dll" KeyPath="yes">
          </File>        
        </Component>
      </Directory>
    </DirectoryRef>
  </Fragment>
</Wix>