<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include FIlledVariables.wxi?>

  <Fragment>
    <DirectoryRef Id="TARGETDIR">
      <Directory Id="System64Folder">
        <Component Id="Driver64FileComponent" Guid="38AD3071-26B1-4125-BBDA-C5C4068062D4" Permanent="no" SharedDllRefCount="no" Transitive="no" Win64="yes" >
          <File Id="Driver64File" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Source="$(var.Driver64bitSourcePath)\$(var.Driver64bitFilename)" KeyPath="yes" />
        </Component>
      </Directory>
    </DirectoryRef>
  </Fragment>
  
  <Fragment>
    <DirectoryRef Id="TARGETDIR">
      <Directory Id="SystemFolder">
        <Component Id="Driver32FileComponent" Guid="D298DDB3-F805-4B7E-9A84-A8C15CDAEB49" Permanent="no" SharedDllRefCount="no" Transitive="no" Win64="no">
          <File Id="Driver32File" Hidden="no" ReadOnly="no" TrueType="no" System="no" Vital="yes" Source="$(var.Driver32bitSourcePath)\$(var.Driver32bitFilename)" KeyPath="yes" />
        </Component>
      </Directory>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="Driver64RegistryKeyComponents">
      <Component Id="Driver64RegistryTarantoolKeyComponent" Guid="357B3B4B-E18F-4C2B-9597-4E22638EFFF2" Transitive="no" Directory="TARGETDIR" Win64="yes">
        <RegistryKey Root="HKLM" Key="SOFTWARE\ODBC\ODBCINST.INI\$(var.DriverRegistryName)" ForceCreateOnInstall="no" ForceDeleteOnUninstall="yes">
          <RegistryValue Type="string" Name="APILevel" Value="1" />
          <RegistryValue Type="string" Name="ConnectFunctions" Value="YYN" />
          <RegistryValue Type="expandable" Name="Driver" Value="[DRIVER64_PATH]" />
          <RegistryValue Type="expandable" Name="Setup" Value="[DRIVER64_PATH]" />
          <RegistryValue Type="string" Name="DriverODBCVer" Value="03.80" />
          <RegistryValue Type="string" Name="FileUsage" Value="0" />
          <RegistryValue Type="string" Name="SQLLevel" Value="1" />
          <RegistryValue Type="integer" Name="UsageCount" Value="0" />
        </RegistryKey>
      </Component>
      <Component Id="Driver64RegistryODBCDriverKeyComponent" Guid="89A353AC-2657-4934-A5AD-1F7C6BA25F49" Transitive="no" Directory="TARGETDIR" Win64="yes">
        <RegistryKey Root="HKLM" Key="SOFTWARE\ODBC\ODBCINST.INI\ODBC Drivers" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="no">
          <RegistryValue Type="string" Name="Tarantool" Value="Installed" />
        </RegistryKey>
      </Component>
    </ComponentGroup>
  </Fragment>
  
  <Fragment>
    <ComponentGroup Id="Driver32RegistryKeyComponents">
      <Component Id="Driver32RegistryTarantoolKeyComponent" Guid="655EEDE7-9E9A-4787-BBE2-20D109EB97F4" Transitive="no" Directory="TARGETDIR" Win64="no">
        <RegistryKey Root="HKLM" Key="SOFTWARE\ODBC\ODBCINST.INI\$(var.DriverRegistryName)" ForceCreateOnInstall="no" ForceDeleteOnUninstall="yes">
          <RegistryValue Type="string" Name="APILevel" Value="1" />
          <RegistryValue Type="string" Name="ConnectFunctions" Value="YYN" />
          <RegistryValue Type="expandable" Name="Driver" Value="[DRIVER32_PATH]" />
          <RegistryValue Type="expandable" Name="Setup" Value="[DRIVER32_PATH]" />
          <RegistryValue Type="string" Name="DriverODBCVer" Value="03.80" />
          <RegistryValue Type="string" Name="FileUsage" Value="0" />
          <RegistryValue Type="string" Name="SQLLevel" Value="0" />
          <RegistryValue Type="integer" Name="UsageCount" Value="0" />
        </RegistryKey>
      </Component>
      <Component Id="Driver32RegistryODBCDriverKyeComponent" Guid="92A688B8-894B-49CE-B37F-B2849337B620" Transitive="no" Directory="TARGETDIR" Win64="no">
        <RegistryKey Root="HKLM" Key="SOFTWARE\ODBC\ODBCINST.INI\ODBC Drivers" ForceCreateOnInstall="yes" ForceDeleteOnUninstall="no">
          <RegistryValue Type="string" Name="Tarantool" Value="Installed" />
        </RegistryKey>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>