<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include FilledVariables.wxi?>
  
  <Product Id="*" Name="$(var.ProductName)" Language="!(loc.ID)" Version="$(var.ProductVersion)" Manufacturer="$(var.Manufacturer)" UpgradeCode="35a8fe49-4b51-43cc-9393-214c7cce8523">
    <Package Manufacturer="$(var.Manufacturer)" Comments="Comments" InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Description="Tarantool ODBC Driver installer" 
             Platform="$(var.TargetPlatform)" Languages="0,1033,1049," />
    
    <MajorUpgrade AllowDowngrades="no" DowngradeErrorMessage="!(loc.NewerVersionInstalled)" AllowSameVersionUpgrades="no" />
    
    <MediaTemplate EmbedCab="yes" />
    
    <WixVariable Id="WixUIBannerBmp" Value="$(var.BitmapSourcePath)/$(var.BannerBitmapFilename)" />
    <WixVariable Id="WixUIDialogBmp" Value="$(var.BitmapSourcePath)/$(var.DialogBitmapFilename)"/>

    <Icon Id="AddRemoveProgramsIcon" SourceFile="$(var.BitmapSourcePath)/$(var.AddRemoveProgramsIconFilename)"/>
    <Property Id="ARPPRODUCTICON" Value="AddRemoveProgramsIcon" />
    
    <Directory Id="TARGETDIR" Name="SourceDir" />
    
    <FeatureRef Id="Driver64Feature" />
    <FeatureRef Id="Driver32Feature" />
    
    <Property Id="VCRUNTIME140D64FILEEXISTS">
      <DirectorySearch Id="VCRuntime140dSearch64" Path="[System64Folder]" Depth="0">
        <FileSearch Name="vcruntime140d.dll"/>
      </DirectorySearch>
    </Property>

    <Property Id="UCRTBASED64FILEEXISTS">
      <DirectorySearch Id="UCRTBasedSearch64" Path="[System64Folder]" Depth="0">
        <FileSearch Name="ucrtbased.dll"/>
      </DirectorySearch>
    </Property>

    <Property Id="VCRUNTIME140D32FILEEXISTS">
      <DirectorySearch Id="VCRuntime140dSearch32" Path="[SystemFolder]" Depth="0">
        <FileSearch Name="vcruntime140d.dll"/>
      </DirectorySearch>
    </Property>

    <Property Id="UCRTBASED32FILEEXISTS">
      <DirectorySearch Id="UCRTBasedSearch32" Path="[SystemFolder]" Depth="0">
        <FileSearch Name="ucrtbased.dll"/>
      </DirectorySearch>
    </Property>

    <CustomAction Id="SetWin64Driver32PathFile" Property="DRIVER32_PATH" Value="%WINDIR%\SysWOW64\$(var.Driver32bitFilename)" />
    <CustomAction Id="SetWin32Driver32PathFile" Property="DRIVER32_PATH" Value="%WINDIR%\System32\$(var.Driver32bitFilename)" />
    <CustomAction Id="SetWin64Driver64PathFile" Property="DRIVER64_PATH" Value="%WINDIR%\System32\$(var.Driver64bitFilename)" />

    <InstallExecuteSequence>
      <Custom Action="SetWin64Driver32PathFile" Before="InstallFiles"><![CDATA[VersionNT64]]></Custom>
      <Custom Action="SetWin32Driver32PathFile" Before="InstallFiles"><![CDATA[NOT(VersionNT64)]]></Custom>
      <Custom Action="SetWin64Driver64PathFile" Before="InstallFiles"><![CDATA[VersionNT64]]></Custom>
    </InstallExecuteSequence>
    
    <UIRef Id="WixUI_CustomMondo" />
  </Product>
</Wix>